@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');


.container-fave {
    display: grid;
    align-items: center;
    grid-template-rows: 50% 50%;
    grid-template-columns: 40% 40% 5% auto auto;
    margin: 0px 10px 20px 15px;
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    grid-gap: 5px;
}

.title-fave {
    grid-row: 1 / 2;
    grid-column: 1 / span 1;
    
}

.artist-fave {
    grid-row: 1 / 2;
    grid-column: 2 / span 1;
    justify-self: end;
}

.fave-fave {
    grid-row: 1 / 2;
    grid-column: 3 / span 1;
    justify-self: center;
    align-self: center;
}

.time-fave {
    grid-row: 2 / 3;
    margin-top: 0px;
}

.fave-fave:hover {
    cursor: pointer;
}