@import url('https://fonts.googleapis.com/css2?family=Anton&family=Source+Code+Pro:wght@400;700&display=swap');

body {
    margin: 2px 20px;
}

h1 {
  margin-left: 20px;
  font-family: 'Anton', sans-serif;
  font-size: 40px;
  letter-spacing: 1px;
  margin-bottom: 0px;
}

h4 {
  text-align: right;
  margin-right: 20px;
  font-family: 'Source Code Pro', monospace;
  margin-top: 10px;
}

.border {
  border-bottom: 4px solid rgb(175, 47, 75);
}

.playlist, .add, .favorite {
  font-family: 'Anton', sans-serif;
  letter-spacing: 1px;
}

.favorite {
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
}
